always-auth=true
@bitwala-cryptobank-squad:registry=https://github.bitwa.la/_registry/npm/
@bitwala-bank-devops:registry=https://github.bitwa.la/_registry/npm/
//github.bitwa.la/_registry/npm/:_authToken=${GITHUB_TOKEN}